body {
  background-color: #edecec;
}

header {
  text-align: center;
}

main {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
main table {
  margin-bottom: 0px;
}

main table tbody {
  border-bottom: none;
}

main table tr {
  cursor: pointer;
}
table tbody tr.selected {
  background-color: #FFA200;
}

table tbody tr.selected:hover,
table.hover tr.selected:nth-of-type(even):hover {
  cursor: default;
  background-color: #FFD182;
}

main table td:first-child,
main table th:first-child {
  padding-left: 40px;
}

main table td:last-child,
main table th:last-child {
  padding-right: 40px;
}

.ng-valid {
  border-left: 5px solid #42A948;
}

.ng-invalid {
  border-left: 5px solid #A94442;
}
