<form  name="personForm" class="small-12 columns" *ngIf="person" (ngSubmit)="onSubmit(person)" #pf="ngForm" novalidate>
  <hr/>
  <div class="row">
    <div class="small-12 columns">
      <label>
        First name
        <input type="text" name="firstName" [(ngModel)]="person.firstName" ngControl="first-name" required/>
      </label>
    </div>
    <div class="small-12 columns">
      <label>
        Last name
        <input type="text" name="lastName" [(ngModel)]="person.lastName" ngControl="last-name" required/>
      </label>
    </div>
    <div class="small-12 columns">
      <button class="button float-right" type="submit" [disabled]="!pf.form.valid" [ngClass]="{'disabled': !pf.form.valid}">Confirm</button>
      <a class="button secondary float-right" (click)="onCanceled()">Cancel</a>
    </div>
  </div>
</form>
